{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
        {{- partial "post_meta.html" . -}}
    </div>
</header>

{{ if site.Params.aboutParams }}
{{- range site.Params.aboutParams }}
<div class="about-section">
    <h2 class="about-section-header">{{ .SectionTitle | markdownify }}</h2>
    <p class="about-section-description">{{ .Description | markdownify }}</p>
    {{- range .SubSections }}
    <div class="about-subsection">
        <h3 class="about-subsection-year">{{ .Years }}</h3>
        <div class="about-subsection-content">
            <h4 class="about-subsection-title">
                <a href="{{.Link}}" class="about-subsection-title-link" target="_blank">{{ .Title | markdownify }}</a>
            </h4>
            <div class="about-subsection-subtitle">{{ .Subtitle | markdownify }}</div>
            <div class="about-subsection-description">
                {{ .Description | markdownify }}
            </div>
        </div>
    </div>
    {{- end }}
</div>
{{- end }}
{{- else if .Content }}
<div class="post-content">
    {{ .Content }}
</div>
{{- end }}

{{- end }}{{/* end main */}}
