{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
        {{- partial "about_meta.html" . -}}
    </div>
</header>

{{- if .Content }}
<div class="post-content">
    {{ .Content | emojify }}
</div>
{{- end }}

{{ if site.Params.aboutParams }}
{{- range site.Params.aboutParams }}
<div class="about-section">
    {{ $formattedSectionTitle:= strings.ToLower .SectionTitle }}
    {{ $sectionId := strings.Replace $formattedSectionTitle " " "-"}}
    <h2 class="about-section-header" id="{{$sectionId}}">
        {{ .SectionTitle | markdownify }}
        <a class="anchor" aria-hidden="true" href="#{{$sectionId}}" hidden>#</a>
    </h2>
    <p class="about-section-description">{{ .Description | markdownify | emojify }}</p>
    {{- range .SubSections }}
    <div class="about-subsection">
        <h3 class="about-subsection-year">{{ .Years | markdownify | emojify }}</h3>
        <div class="about-subsection-content">
            <h4 class="about-subsection-title">
                {{- if .Link }}
                <a href="{{.Link}}" class="about-subsection-title-link" target="_blank">
                    {{ .Title | markdownify | emojify }}</a>
                {{- else }}
                <span>{{ .Title | markdownify | emojify }}</span>
                {{- end}}
            </h4>
            <div class="about-subsection-subtitle">{{ .Subtitle | markdownify | emojify }}</div>
            <div class="about-subsection-description">
                {{ .Description | markdownify | emojify }}
            </div>
        </div>
    </div>
    {{- end }}
</div>
{{- end }}
{{- end }}


{{- end }}{{/* end main */}}
