{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
        {{- partial "about_meta.html" . -}}
    </div>
</header>

{{- if .Content }}
<div class="post-content">
    {{ .Content | emojify }}
</div>
{{- end }}

<div class="portfolio-sections">
    {{ if site.Params.aboutParams }}
    {{- range site.Params.aboutParams }}

    <div class="custom-section">
        {{ $formattedSectionTitle:= strings.ToLower .SectionTitle }}
        {{ $sectionId := strings.Replace $formattedSectionTitle " " "-"}}

        <h2 id="{{$sectionId}}">
            {{ .SectionTitle | markdownify }}
            <a class="anchor" aria-hidden="true" href="#{{$sectionId}}" hidden>#</a>
        </h2>

        {{- if .Description }}
        <p class="about-section-description">{{ .Description | markdownify | emojify }}</p>
        {{- end }}

        <ul class="custom-list">
            {{- range .SubSections }}
            <li>
                <div class="item-date stacked-date">
                    {{- if in .Years " - " -}}
                        {{- $parts := split .Years " - " -}}
                        <span>{{ index $parts 1 | markdownify | emojify }}</span>
                        <span class="date-separator">&mdash;</span>
                        <span class="date-start">{{ index $parts 0 | markdownify | emojify }}</span>
                    {{- else -}}
                        {{ .Years | markdownify | emojify }}
                    {{- end -}}
                </div>

                <div class="work-details">
                    <div class="work-meta">
                        <span class="work-title">
                            {{- if .Link }}
                            <a href="{{.Link}}" target="_blank">{{ .Title | markdownify | emojify }}</a>
                            {{- else }}
                            {{ .Title | markdownify | emojify }}
                            {{- end}}
                        </span>

                        {{- if .Subtitle }}
                        <span class="separator">&mdash;</span>
                        <span class="work-company">{{ .Subtitle | markdownify | emojify }}</span>
                        {{- end }}
                    </div>

                    {{- if .Description }}
                    <div class="work-desc">
                        {{ .Description | markdownify | emojify }}
                    </div>
                    {{- end }}
                </div>
            </li>
            {{- end }}
        </ul>
    </div>
    {{- end }}
    {{- end }}
</div>

{{- end }}{{/* end main */}}
